<body id="page-top ">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-danger text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand fs-1 " href="#page-top">Blood Bank Management System</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
  
          <ul class="navbar-nav ms-auto fs-5 ">
            <li class="nav-item dropdown nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
              Admin Panel
              </a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" routerLink="/updatedonor" routerLinkActive="Active">Update</a></li>
                <li><a class="dropdown-item" routerLink="/updatetest" routerLinkActive="Active">updatetest</a></li>
                <li><a class="dropdown-item" routerLink="/addnew1" routerLinkActive="Active">Add New</a></li> -->
                <li><a class="dropdown-item" routerLink="/view-all-admins" routerLinkActive="Active">view all Donor
                    Details</a></li>
  
                <li><a class="dropdown-item" routerLink="/deleteadmin" routerLinkActive="Active">delete Donor</a></li>
  
              </ul>
            </li>
  
  
  
  
            <li class="nav-item dropdown nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Total No.of Bloods
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O-</a></li>
              </ul>
            </li>
  
  
            <li class="nav-item dropdown nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            No. of used Bloods
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O-</a></li>
              </ul>
            </li>



            <li class="nav-item dropdown nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          Remaining No. of Bloods
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">A+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">AB-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">B-</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O+</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/" routerLinkActive="Active">O-</a></li>
              </ul>
            </li>



            <!-- <li class="nav-item dropdown nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/increasestock" routerLinkActive="Active">Increase
                    Stock</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/decreasestock" routerLinkActive="Active">Decrease
                    Stock</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/deletestock" routerLinkActive="Active">Delete Stock</a>
                </li>
              </ul>
            </li> -->
  
  
            <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#portfolio"routerLink="/donor-location"routerLinkActive="Active">DONOR
                          CENTER LOCATIONS</a></li> -->
  
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"
                routerLink="/home" routerLinkActive="Active">Log Out</a></li>
  
  
          </ul>
          </div>
          </div>
          </nav>
        <div class="image" style="  background-image: url(/assets/home2.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;"></div>
          </body>
         
          