<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- use only -->
<!-- <app-navbar1></app-navbar1> -->
<p style="background-image: url('/assets/1.webp');"> 







<!-- <app-home></app-home>
<router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->

<!-- <app-allcode></app-allcode> -->
 <!-- <app-donate-blood></app-donate-blood>
 <app-donor-location></app-donor-location>
<app-appointment></app-appointment>
<app-services></app-services>
<app-support-us></app-support-us>
<app-search></app-search>
<app-about-us></app-about-us>
<app-blog></app-blog>
<app-single-blogpost></app-single-blogpost>
 <app-contacts></app-contacts> 

<app-registration></app-registration> -->


