
<body id="page-top ">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-danger text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand fs-1 " href="#page-top">Blood Bank Management System</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ms-auto fs-5 ">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#portfolio"routerLink="/home"routerLinkActive="Active">Home</a></li>
               
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#contact"routerLink="/donate-blood"routerLinkActive="Active">DONATE
                                                                                    BLOOD</a></li>

                    <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#portfolio"routerLink="/donor-location"routerLinkActive="Active">DONOR
                        CENTER LOCATIONS</a></li> -->
                    
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/services"routerLinkActive="Active">SERVICES</a></li>

                    <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#portfolio">Portfolio</a></li> -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/about-us"routerLinkActive="Active">ABOUT</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/contacts"routerLinkActive="Active">Contact</a></li>
                
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/registration"routerLinkActive="Active">User</a></li>  
                    <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/login"routerLinkActive="Active">Login</a></li> -->

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-white" href="#no"routerLink="/admin-regi"routerLinkActive="Active">Admin </a></li>
                </ul>
                








            </div>
        </div>
       
    </nav>
 
    </body>
<!-- 
<body class="moto-background moto-website_live" >






    <div class="page">
    

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                data-widget="block" data-spacing="saaa" style="" data-bg-position="left top">


                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                data-bg-position="left top">


                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="sasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable" >
                                                    <p class="moto-text_system_1"><a target="_self" href="/"
                                                            data-action="page" data-id="1" class="moto-link"><span
                                                                class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero"
                                                                data-widget="motoimagewidget"><span
                                                                    class="moto-content-image-container"><img
                                                                        class="moto-content-image"
                                                                        data-path="2019/04/mt-1802-logo.png"
                                                                        data-id="358" alt="" width="58" height="56"
                                                                        src="/assets/blood-logo.png"></span></span></a><a
                                                            data-action="page" data-id="1" class="moto-link"
                                                            href="/" >Blood Bank Management System</a></p>
                                                </div>
                                            </div>
                                        </div>// -->
                                        <!-- <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-grid-type="sm" data-widget="row" data-spacing="aasa" style=""
                                                data-bg-position="left top">


                                                <div class="container-fluid">
                                                    <div class="row" data-container="container">


                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon01.png"
                                                                                    data-id="376" alt="" width="33"
                                                                                    height="34"
                                                                                    src="/assets/dial-icon01.png"></span></span><a
                                                                            data-action="call" class="moto-link"
                                                                            href="tel:1234567890">+386 40 222 455</a>
                                                                    </p>
                                                                    <p class="moto-text_system_13"><a data-action="mail"
                                                                            class="moto-link"
                                                                            href="mailto:Info@demolink.org">info@demolink.org</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon02.png"
                                                                                    data-id="375" alt="" width="33"
                                                                                    height="33"
                                                                                    src="/assets/location-icon02.png"></span></span>Transport
                                                                        ltd. inc. 300 Pennsylvania Ave NW, Washington
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon03.png"
                                                                                    data-id="377" alt="" width="33"
                                                                                    height="33"
                                                                                    src="/assets/clock-icon03.png"></span></span>9:00
                                                                        - 18:00</p>
                                                                    <p class="moto-text_system_13">Monday - Friday</p>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                             -->
                           <!-- ,,, <div class="moto-widget moto-widget-container moto-container_header_5ab17a9c1"
                                data-widget="container" data-container="container"
                                data-css-name="moto-container_header_5ab17a9c1" data-bg-position="left top"
                                data-moto-sticky="{ }">



                                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                    data-bg-position="left top">


                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                style="" data-widget="row.column" data-container="container"
                                                data-spacing="aaaa" data-bg-position="left top">


                                                <div class="moto-widget moto-widget-container moto-container_header_5ab17aaf2"
                                                    data-widget="container" data-container="container"
                                                    data-css-name="moto-container_header_5ab17aaf2"
                                                    data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                        data-grid-type="sm" data-widget="row" data-spacing="aaaa"
                                                        style="background-image:url(/mt-demo/79800/79832/mt-content/uploads/2018/05/mt-1802-line-menu.jpg);background-position:left top;background-repeat:repeat-x;background-size:auto;"
                                                        data-bg-position="left top"
                                                        data-bg-image="2018/05/mt-1802-line-menu.jpg">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    style="" data-widget="row.column"
                                                                    data-container="container" data-spacing="aaaa"
                                                                    data-bg-position="left top">


                                                                    <div data-widget-id="wid_1521580712_34yfou2bm"
                                                                        class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                        data-preset="default" data-widget="menu">
                                                                        <a href="#"
                                                                            class="moto-widget-menu-toggle-btn"><i
                                                                                class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                                                        <ul
                                                                            class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link"routerLink="/search"routerLinkActive="Active">SEARCH</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/donate-blood/"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link"routerLink="/donate-blood"routerLinkActive="Active">DONATE
                                                                                    BLOOD</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/donor-center-locations/"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link"routerLink="/donor-location"routerLinkActive="Active">DONOR
                                                                                    CENTER LOCATIONS</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/appointment/"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link"routerLink="/appointment"routerLinkActive="Active">APPOINTMENT</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/services/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link"routerLink="/services"routerLinkActive="Active">SERVICES</a>
                                                                            </li>
                                                                            <li
                                                                                class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                                                <a href="/support-us/"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link"routerLink="/support-us"routerLinkActive="Active">SUPPORT
                                                                                    US<span
                                                                                        class="fa moto-widget-menu-link-arrow"></span></a>
                                                                                <ul class="moto-widget-menu-sublist">
                                                                                    <li class="moto-widget-menu-item">
                                                                                        <a href="/urgent-cases/"
                                                                                            data-action="page"
                                                                                            class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Urgent
                                                                                            Cases</a>
                                                                                    </li>
                                                                                </ul>

                                                                            </li>
                                                                            <li
                                                                                class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                                                <a href="/about-us/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link"routerLink="/about-us"routerLinkActive="Active">ABOUT
                                                                                    US<span
                                                                                        class="fa moto-widget-menu-link-arrow"></span></a>
                                                                                <ul class="moto-widget-menu-sublist">
                                                                                    <li class="moto-widget-menu-item">
                                                                                        <a href="/news/"
                                                                                            data-action="blog.index"
                                                                                            class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"routerLink="/blog"routerLinkActive="Active">Blog</a>
                                                                                    </li>
                                                                                    <li class="moto-widget-menu-item">
                                                                                        <a href="/news/recession-is-a-good-opportunity-to-deal-a-deathblow-to-the-competitors/"
                                                                                            data-action="blog.post"
                                                                                            class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"routerLink="/single-blogpost"routerLinkActive="Active">Single
                                                                                            Blog Post</a>
                                                                                    </li>
                                                                                </ul>

                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/contacts/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link"routerLink="/contacts"routerLinkActive="Active">CONTACTS</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    style="" data-widget="row.column"
                                                                    data-container="container" data-spacing="aaaa"
                                                                    data-bg-position="left top">


                                                                    <div data-widget-id="wid_1555237980_e89ar4vjr"
                                                                        class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                                        data-widget="button">
                                                                        <a href="/support-us/" data-action="page"
                                                                            class="moto-widget-button-link moto-size-small moto-link"><span
                                                                                class="fa moto-widget-theme-icon"></span><span
                                                                                class="moto-widget-button-divider"></span><span
                                                                                class="moto-widget-button-label">Donate</span></a>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->



                                        <!-- </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div>
                    </div>
                </div>
            </div> -->
<!--             
      </body> -->
    